

.container {
	background-color: $background-color_10;
	h1 {
		font-size: 35px;
		padding-top: 40px;
		color: $color_11;
		text-align: center;
	}
}
.nosotros {
	background-color: $background-color_10;
	color: $color_11;
	text-align: justify;
}